doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ZOOM4
    link(href="style.css", rel="stylesheet")
    
  body
    zoom-element(option="drag")
      .content 
      .left left 0 px
      .top top 0 px
    .test2 點擊回復原狀
    script(src="app-dist.js")
    script(src="zoom4-dist.js")