doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ZOOM4
    link(href="style.css", rel="stylesheet")
    
  body
    zoom-element(scale="zoom" max-scale="8") 點擊白色區塊Reset 
      //開發完成後將下方left top及相關js移除
      .left 
      .top
    .instructor
    script(src="app-dist.js")
    script(type="module" src="zoom4-dist.js")
