.test {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background: red;
}

.test2 {
  margin: 20px auto 0 auto;
  padding: 140px 0;
  width: 300px;
  background: blue;
  color: #fff;
  text-align: center;
}