zoom-element {
  position: relative;
  display: block;
  background: #3d3d3d;
  width: 1000px;
  height: 500px;
}
zoom-element .move-element {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  cursor: -webkit-grab;
  cursor: grab;
}
zoom-element .scale-element, zoom-element .move-element {
  width: 50px;
  height: 50px;
  background: #c7c7c7;
}
zoom-element .scale-element {
  margin: 50px auto 0 auto;
}
zoom-element .zoom-reset {
  cursor: pointer;
  width: 180px;
  height: 50px;
  border: 1px solid black;
  background: #fff;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

zoom-element {
  width: 70%;
  height: 100vh;
}

.instructor {
  width: 30%;
  height: 100vh;
}

.left, .top {
  position: fixed;
  bottom: 50px;
  left: 100px;
  font-size: 30px;
  text-align: center;
}

.top {
  bottom: 100px;
}

.test1 {
  margin: 0 auto;
}

.test2 {
  margin: 20px auto 0 auto;
  background: blue;
  color: #fff;
  text-align: center;
}

.zoom-reset {
  margin: 20px auto 0 auto;
  text-align: center;
}