zoom-element
  position: relative
  display: block
  background: #3d3d3d
  width: 1000px
  height: 500px
  .move-element
    position: absolute
    top: 50%
    left: 50%
    z-index: 999
    transform: translate(-50%, -50%)
    cursor: grab
    background: #c7c7c7
.zoom-buttons
  display: flex
  justify-content: center
  align-content: center
  gap: 30px
.zoom-plus, .zoom-minus, .zoom-reset
  cursor: pointer